<a href="https://colab.research.google.com/github/youssef893/Loan-Prediction/blob/main/Loan_Perdiction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [151]:
data = pd.read_csv('/content/train_u6lujuX_CVtuZ9i (1).csv')

In [152]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [153]:
data.shape

(614, 13)

In [154]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [155]:
# fill null data with the next value
for column in data.columns:
  data[column] = data[column].fillna(method='ffill')

In [156]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           1
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [157]:
# encode every text data and convert it to numbers
label_encoder = LabelEncoder()
for column in data.columns:  
  data[column] = label_encoder.fit_transform(data[column])

In [158]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,376,0,203,8,1,2,1
1,1,1,1,1,0,0,306,60,81,8,1,0,0
2,2,1,1,0,0,1,139,0,26,8,1,2,1
3,3,1,1,0,1,0,90,160,73,8,1,2,1
4,4,1,0,0,0,0,381,0,94,8,1,2,1

In [159]:
features = data.drop(columns=['Loan_ID','Loan_Status'],axis=1)  # drop last column
labels = data['Loan_Status']

In [160]:
scaler = StandardScaler()
features = scaler.fit_transform(features)

In [161]:
print(features)

[[ 0.47749346 -1.36717185 -0.75217674 ...  0.30835743  0.44371285
   1.22329839]
 [ 0.47749346  0.73143694  0.23676655 ...  0.30835743  0.44371285
  -1.31851281]
 [ 0.47749346  0.73143694 -0.75217674 ...  0.30835743  0.44371285
   1.22329839]
 ...
 [ 0.47749346  0.73143694  0.23676655 ...  0.30835743  0.44371285
   1.22329839]
 [ 0.47749346  0.73143694  1.22570985 ...  0.30835743  0.44371285
   1.22329839]
 [-2.09426954 -1.36717185 -0.75217674 ...  0.30835743 -2.25370981
  -0.04760721]]

In [162]:
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, stratify=labels, random_state=42)

In [163]:
model = svm.SVC(kernel='linear')
model.fit(x_train, y_train)

SVC(kernel='linear')

In [164]:
prediction = model.predict(x_test)
print(f'accuracy = {accuracy_score(prediction, y_test)}')

accuracy = 0.8455284552845529